<header>
  <h1>New Doctor registration</h1>
</header>
<%= simple_form_for @doctor, :url => url_for(:action => 'create', :controller => 'admin/doctors') do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :speciality %>
  <%= f.input :contact_phone %>
  <%= f.submit "Register", class: "btn-primary" %>
<% end %>
