<header>
  <h1>Find a Doctor nearby</h1>
  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Register as new patient", new_patient_path, class: "new" %></li>
      <li><%= link_to "Doctors", doctors_path, class: "new" %></li>
    <% end %>
  </ul>
</header>


<div id="map" data-patient_gps="<%= @patient_gps %>"></div>

<% if @patient %>
  <div id="patient" style="display: none;">
    <h2><%= link_to @patient.last_name, patient_path(@patient) %></h2>
      <p id="full_name"><%= @patient.full_name %></p>
      <p id="contact_phone"><%= @patient.contact_phone %></p>
  </div>
  <% else %>
    <div id="patient" style="display: none;">
      <p>
        To view your location:
        <%= link_to "Sign in", new_user_session_path %>
        or
        <%= link_to "Sign up", new_user_registration_path %>
      </p>
    </div>
<% end %>

<div id="doctors">
  <% @doctors.each do |doctor| %>
    <div id="doctor_<%= doctor.id %>" style="display: none;">
      <h2><%= link_to "Dr. #{doctor.last_name}", doctor_path(doctor) %></h2>
      <p id="full_name">Dr. <%= doctor.full_name %>, MD</p>
      <p id="speciality"><%= doctor.speciality %></p>
      <p id="contact_phone"><%= doctor.contact_phone %></p>
      <p id="gps" style="display: none;"><%= doctor.gps %></p>
    </div>
  <% end %>
</div>
