<header>
  <h1>Find a Doctor nearby</h1>
  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Register as new patient", new_patient_path, class: "new" %></li>
      <li><%= link_to "Doctors", doctors_path, class: "new" %></li>
    <% end %>
  </ul>
</header>


<div id="map" data-patient_gps="<%= @patient_gps %>" data-doctors_gps="<%= @doctors_gps %>"></div>

<% if @patient %>
  <div id="patient" style="display: none;">
    <h2><%= link_to @patient.last_name, patient_path(@patient) %></h2>
      <%= @patient.full_name %></br>
      <%= @patient.contact_phone %></br>
  </div>
<% end %>

<div id="doctors">
  <% @doctors.each do |doctor| %>
    <div id="doctor_<%= doctor.id %>" style="display: none;">
      <h2><%= link_to doctor.last_name, doctor_path(doctor) %></h2>
      <%= doctor.full_name %></br>
      <%= doctor.speciality %></br>
      <%= doctor.contact_phone %></br>
    </div>
  <% end %>
</div>
