<header>
  <h1>New Patient registration</h1>
</header>
<%= simple_form_for(@patient) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :contact_phone %>
  <%= f.submit "Register", class: "btn-primary" %>
<% end %>
